html{
    margin: 0;
}   
body{
    margin: auto auto;
}
nav{
    padding: 10px;
    background-color: black;
    color: white;
}
#header{
    width: 78%;
    margin: auto auto;
    font-size: 30px;;
}
#flex-container{
    width: 80%;
    align-items: center;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}
#flex-container > article{
    background-color: aliceblue;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: fit-content;
    width: 350px;
    padding: 20px;
    box-shadow: 2px 2px 5px 0px;
    border-radius: 10px;
    min-width: fit-content;
}
#laptop-info-section{
    width: 80%;
    margin:auto auto;
    margin-top: 20px;
    align-items: center;
}
#laptop_info{
    background-color: aliceblue;
    justify-content: space-between;
    display: none;
    flex-direction: row;
    align-items: center;
    margin:auto auto;
    padding: 20px;
    height: fit-content;
    min-width: min-content;
    width: fit-content;
    box-shadow: 2px 2px 5px 0px;
    border-radius: 10px;

}
article >h2{
    margin: 0px;
}
#balance_btn{
    background-color: lightgreen;
}
#bank_btn{
    background-color: yellow;
}
#work_btn{
    background-color: blue;
    color: white;
}
#repay_btn{
    background-color: red;
    color: white;
    display: none;
}
#features-h2{
    margin: 0px;
    padding: 0px;
    font-size: larger;
    display: none;
}
#features-desc{
    font-size: medium;
    margin:0px;
    padding: 0px;
    overflow-y: scroll;
    max-height: 90px;
    max-width: 250px;
  
}
#buy_btn{
    background-color: lightgreen;
    width: 100px;
}
#comp-name{
    margin:10px;
}
#comp-price{
    margin:10px;
}
#flex-test{
    display: flex;
    flex-direction: row;
}
#comp_img{
    margin: auto auto;
}

.btn{
    font-size: 16px;
    transition-duration: 0.2s;
    border-radius: 15px;
    border: none;
    opacity: 0.9;
    padding:3%;
    margin: 5px;
    width: 50%;
    height: fit-content;
}
.currency{
    padding-left: 5px;
}
.btn:hover {
    cursor: pointer;
    opacity: 1;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.flex-row{
    display: flex;
    flex-direction: row;
}
#loan{
    display: none;
    color: red;
    font-size: small;
}
.flex-row>h3{
    margin: 10px 0px 10px 0px;
}
#flex_btn{
    width: 90%;
}
.air{
    width: 20px;
}
#feedback{
    margin: 0px;
    pad: 0px;
    display: none;
}
@media only screen and (max-width: 600px) {
    #laptop-info-section{
        width: 90%;
    }
    #laptop_info{
        flex-direction: column;
    
    }
}


@media only screen and (max-width: 900px) {
    #features-desc{
        max-height: fit-content;
        overflow: auto;
    }
    #flex-container{
        flex-direction: column;
    }
    #header{
        width: 370px;
        margin: auto auto;
        font-size: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    #laptop-info-section{
        width: 95%;
    }
    #flex-container{
        width: 98%;
    }
    #header{
        width: 95%;
    }
}